.text {
  width: 75%;
}

.text-1 {
  margin-right: 90px;
}
.text-2 {
  margin-right: 22px;
}
.text-3 {
  margin-right: 30px;
}
.text-4 {
  margin-right: 48px;
}
hr {
  width: 240px;
}
.text-5 {
  margin-right: 80px;
}
.line {
  width: 600px;
  height: 1px;
  background-color: gainsboro;
}
